--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple

torch==2.2.1
torchvision==0.17.1
numpy==1.26.4
fastapi
uvicorn
ultralytics
supabase
redis
sqlalchemy
asyncpg
alembic
psycopg2-binary
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
opencv-python-headless
scikit-learn
joblib
pandas
matplotlib
httpx
geoalchemy2
slowapi
python-dotenv
gunicorn
python-multipart
bcrypt==4.0.1
